html {
    height: 100%;
}


body {
    background-image:linear-gradient(#f8f9fa, #727475);
    background-repeat: no-repeat;
}

#navBar {
 width:100%;
 height: 20%;
 background-color: rgb(250, 250, 250);
 font-size: 30px;
}


#formDiv {
   
    display: inline-grid;
    width: 25%;
    margin-left: 2%;
    padding: 10px;
}

#resultsDiv {
    
    display: inline-grid;
    width: 70%;
    margin-left: 2%;
    margin-top: 5%;
}

.printParent{
    padding-left: 20% ;
}


.printDiv {
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 60%;
    text-align: center;
    background-color: rgb(192, 198, 196);
    display: inline-grid;
}

#idInput {
    width: 20%;
    display: inline;
}

.btn-sm {
    margin-left: 5px;
}

